//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 18 18:44:25 2016
//! **************************************************************************

SCHEMATIC START;
COMP "KP_INP<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "KP_INP<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "KP_INP<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "KP_INP<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "KP_INP<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "KP_INP<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "KP_INP<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "KP_INP<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "RST" LOCATE = SITE "B8" LEVEL 1;
COMP "DIR_L" LOCATE = SITE "J3" LEVEL 1;
COMP "DIR_R" LOCATE = SITE "K2" LEVEL 1;
COMP "PWM_L" LOCATE = SITE "J1" LEVEL 1;
COMP "PWM_R" LOCATE = SITE "K1" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "BOTTON" LOCATE = SITE "C9" LEVEL 1;
COMP "CLK100MHZ" LOCATE = SITE "V10" LEVEL 1;
COMP "SDATA_INP" LOCATE = SITE "V12" LEVEL 1;
COMP "CSB_OUT" LOCATE = SITE "T12" LEVEL 1;
COMP "SCLK_OUT" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

